
Proj Application/Proj Desktop App/.vs/Proj Desktop App/v16/.suo
Proj Application/Proj Desktop App/Proj Desktop App/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Proj Application/Proj Desktop App/Proj Desktop App/obj/Debug/Proj Desktop App.csprojAssemblyReference.cache
