

  .input{
    font-family: 'PT Sans', sans-serif;
  font-size: 1.2rem;
  display: block;
  padding: 0.5rem 1rem;
  text-align: center;
  background-color:  #a900f7;
  
  }
  
  .logoutbt{
    width: auto;
    height: auto;
    left: 1600px;
    background-color:  #a900f7;
    text-align: right;
    color: #fff;
    position: relative;
   
  }

  .grid-container {
    display: grid;
    background-color: #a900f7;
    grid-template-columns: repeat(1, 100px);
    grid-template-rows: repeat(1, 50px);
    grid-gap: 2px;
    
    border-left: 1px solid black;
    border-bottom:1px solid black ;
    position: relative;
    grid-template-areas: 
    "a a b b";
   
    align-items: start;
    
  }
  
  .item1 {
    grid-area: a;
    width: auto;
  }
 
