

  .input{
    font-family: 'PT Sans', sans-serif;
  font-size: 1.2rem;
  display: block;
  padding: 0.5rem 1rem;
  text-align: center;
  background-color:   #767de7;
  height: 30pt;
  
  }
  
  .logoutbt{
    width: 50pt;
    height: 30pt;
    float: right;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: #767de7;
    position: relative;
   
  }

  .grid-container {
    display: grid;
    background-color: #767de7;
    grid-template-columns: repeat(1, 100px);
    grid-template-rows: repeat(1, 50px);
    grid-gap: 2px;
    
    border-left: 1px solid black;
    border-bottom:1px solid black ;
    position: relative;
    grid-template-areas: 
    "a a b b";
   
    align-items: start;
    
  }
  

  .item1 {
    grid-area: a;
    width: auto;
    height: 40pt;
  }
  .item1:hover {
   
    background-color: aquamarine;
  }
  .logoutbt:hover {
   
    background-color: aquamarine;
  }
  .input:hover {
   
    background-color: aquamarine;
  }
 
