
body {
  
   padding-bottom: 40px;
   background-color: #ffffff;
}

.form-changeInfo {
   max-width: 330px;
   padding: 15px;
   margin: 0 auto;
   color: #000000;
}

.form-changeInfo .form-changeInfo-heading,
.form-changeInfo .checkbox {
   margin-bottom: 10px;
}

.form-changeInfo .checkbox {
   font-weight: normal;
}

.form-changeInfo .form-control {
   position: relative;
   height: auto;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
 
   font-size: 16px;
}

.form-changeInfo .form-control:focus {
   z-index: 2;
}

.form-changeInfo input[type="email"] {

   margin-bottom: -1px;
   border-bottom-right-radius: 0;
   border-bottom-left-radius: 0;
   border-color:#070707;
}

.form-changeInfo input[type="password"] {
   margin-bottom: 10px;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   border-color:#050505;
}

h2{
   text-align: center;
   color: #010505;
}
button{
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.buttonBlue{
   position: relative;
   height: auto;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   width: 215px;
   padding: 10px;
   font-size: 16px;
   background-color: #07634C;
   border-radius: 10vh;
}
input {

  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color:#87B0A6;
  border: none;
  margin-bottom: 1vh;
  

}
::placeholder {
   color:rgb(68, 64, 64);
   opacity: 1; /* Firefox */
 }
.main {

   left: auto;
   right: auto;
   padding: 0px 25px;
   text-align: justify;
   position: relative;
 }